.card{
    min-width: 20%;
    min-height: 270px;
    border-radius: 10px;
    background-color: rgb(255, 254, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.description{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    color: black;
    margin: 10px auto 0;
    font-size: 18px;
}
.price{
    margin: 10px auto 0;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.cart{
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 165, 106);
    transition: all .2s ease-in-out;
    &:hover{
        background-color: rgb(247, 106, 106);
    }
}
.active{
    background-color: rgb(247, 106, 106);
}

.cart_icon{
    width: 32px;
    height: 32px;
}
.type{
    position: absolute;
    top: 15px;
    left: 15px;
}