.wrapper{
    width: 80%;
    min-height: 50vh;
    margin: 30px auto 0;
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(229, 165, 165);
}

.promotions{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 40px;
}

@media screen and (max-width: 1480px) {
    .wrapper{
        width: 95%;
    }
}

@media screen and (max-width: 1200px) {
        .promotions{
            grid-template-columns: 1fr;
        }
}